# Lambda Functions - Lab

## Introduction|

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

# Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [3]:
#Your code here
df['stars_squared'] = df['stars'].map(lambda x: x**2)
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25

# Dates
Select the month from the date string using a lambda function.

In [18]:
# Your code here
print(list(df.date.map(lambda x: x[5:7])))

['11', '10', '09', '02', '06', '09', '08', '08', '11', '11', '12', '02', '02', '02', '02', '06', '11', '11', '11', '01', '11', '05', '05', '10', '04', '04', '11', '04', '03', '02', '02', '05', '03', '03', '02', '03', '10', '10', '10', '10', '01', '01', '10', '12', '08', '02', '09', '08', '03', '03', '03', '07', '07', '09', '03', '07', '03', '09', '08', '08', '06', '05', '12', '04', '06', '09', '09', '09', '10', '08', '06', '08', '10', '07', '08', '08', '08', '08', '06', '08', '07', '08', '08', '10', '08', '08', '08', '08', '08', '08', '06', '06', '08', '07', '12', '12', '05', '04', '08', '11', '02', '10', '11', '04', '04', '04', '07', '03', '03', '06', '06', '02', '12', '06', '06', '08', '03', '06', '06', '02', '07', '07', '07', '02', '02', '12', '03', '10', '01', '06', '07', '07', '06', '11', '06', '10', '04', '06', '06', '05', '05', '09', '05', '03', '06', '10', '08', '03', '10', '06', '01', '03', '01', '06', '01', '02', '03', '04', '09', '02', '02', '08', '04', '08', '04', '07', '07', '11', '10', '02', '10', '09', '10', '09', '10', '01', '07', '01', '06', '06', '03', '07', '06', '03', '07', '10', '06', '12', '06', '03', '12', '06', '06', '03', '12', '06', '04', '06', '06', '06', '01', '12', '02', '03', '06', '11', '05', '07', '05', '08', '08', '12', '01', '08', '03', '03', '04', '09', '04', '10', '12', '06', '10', '07', '07', '10', '07', '01', '01', '01', '01', '01', '01', '11', '01', '01', '01', '12', '10', '12', '08', '12', '12', '03', '09', '11', '09', '06', '12', '11', '11', '06', '06', '06', '07', '07', '09', '06', '06', '02', '08', '06', '11', '11', '08', '08', '07', '08', '02', '05', '08', '07', '01', '04', '08', '02', '10', '02', '09', '07', '05', '10', '06', '06', '02', '03', '03', '09', '06', '09', '11', '11', '02', '03', '03', '03', '09', '12', '10', '03', '10', '10', '03', '04', '02', '05', '04', '01', '08', '06', '02', '02', '07', '12', '01', '05', '07', '08', '07', '03', '02', '11', '09', '04', '01', '08', '01', '02', '04', '04', '01', '06', '05', '09', '09', '03', '09', '11', '01', '07', '07', '12', '06', '01', '09', '07', '09', '04', '12', '06', '11', '04', '05', '01', '02', '10', '11', '03', '03', '12', '04', '06', '07', '05', '03', '03', '03', '02', '04', '06', '10', '06', '02', '12', '03', '01', '01', '01', '08', '07', '10', '04', '10', '10', '01', '06', '06', '08', '03', '03', '03', '03', '03', '03', '03', '03', '01', '09', '02', '08', '04', '01', '06', '10', '07', '01', '01', '01', '02', '02', '02', '01', '10', '07', '08', '07', '04', '09', '10', '10', '10', '08', '02', '02', '01', '03', '02', '01', '02', '12', '03', '06', '06', '12', '09', '10', '10', '11', '07', '02', '03', '02', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '02', '01', '04', '02', '11', '12', '07', '12', '07', '04', '02', '01', '03', '03', '05', '07', '08', '04', '04', '06', '05', '08', '10', '02', '06', '01', '09', '09', '05', '04', '07', '02', '09', '09', '09', '02', '02', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '10', '09', '09', '10', '09', '09', '09', '09', '09', '09', '09', '09', '11', '10', '10', '09', '09', '10', '09', '09', '09', '12', '03', '04', '05', '03', '04', '09', '09', '02', '09', '05', '11', '01', '08', '09', '04', '11', '11', '05', '09', '08', '11', '11', '11', '02', '06', '09', '11', '09', '12', '03', '04', '09', '09', '07', '05', '11', '08', '01', '09', '07', '04', '04', '04', '04', '04', '04', '09', '07', '02', '07', '08', '02', '08', '03', '07', '07', '01', '09', '08', '05', '08', '07', '01', '09', '10', '03', '10', '11', '11', '09', '09', '09', '11', '10', '07', '02', '02', '02', '09', '01', '07', '01', '04', '04', '07', '06', '12', '04', '02', '12', '02', '01', '02', '01', '09', '09', '02', '01', '09', '04', '08', '04', '07', '07', '12', '09', '08', '03', '03', '01', '01', '04', '06', '04', '07', '03', '09', '07', '09', '11', '05', '08', '12', '12', '05', '07', '08', '07', '07', '01', '04', '08', '09', '09', '01', '10', '05', '03', '01', '01', '03', '12', '10', '02', '02', '06', '05', '10', '09', '09', '08', '12', '09', '04', '04', '04', '12', '08', '12', '08', '08', '07', '07', '08', '01', '08', '04', '04', '06', '09', '01', '06', '03', '11', '04', '04', '07', '07', '04', '06', '01', '06', '07', '12', '10', '08', '02', '02', '02', '10', '04', '02', '02', '12', '07', '04', '01', '07', '07', '09', '10', '09', '05', '01', '01', '12', '06', '10', '08', '07', '04', '11', '05', '05', '10', '09', '06', '07', '11', '11', '11', '09', '09', '03', '09', '08', '08', '02', '08', '08', '08', '10', '03', '05', '07', '06', '01', '12', '01', '11', '01', '10', '10', '10', '05', '02', '06', '10', '10', '01', '06', '06', '02', '03', '12', '12', '12', '10', '02', '08', '01', '05', '10', '06', '05', '12', '05', '05', '10', '03', '06', '05', '09', '12', '11', '06', '04', '10', '11', '09', '07', '07', '06', '08', '07', '01', '08', '08', '03', '08', '07', '07', '10', '08', '09', '09', '06', '07', '06', '05', '03', '05', '09', '12', '08', '08', '08', '09', '10', '10', '01', '11', '06', '12', '11', '12', '10', '07', '07', '06', '08', '05', '02', '04', '09', '05', '05', '08', '07', '07', '07', '09', '02', '01', '07', '09', '06', '01', '05', '03', '07', '02', '07', '12', '06', '11', '09', '07', '04', '04', '05', '08', '12', '10', '10', '08', '10', '08', '08', '06', '03', '01', '03', '03', '09', '02', '01', '09', '02', '06', '05', '07', '07', '07', '07', '06', '06', '03', '03', '07', '06', '02', '04', '01', '06', '07', '07', '07', '07', '10', '09', '10', '10', '10', '06', '11', '05', '11', '11', '02', '05', '07', '10', '07', '03', '07', '06', '08', '06', '05', '05', '06', '12', '05', '05', '01', '03', '10', '07', '01', '12', '08', '01', '08', '06', '06', '09', '07', '09', '12', '09', '06', '07', '06', '11', '04', '02', '02', '03', '06', '11', '01', '07', '05', '05', '04', '06', '12', '12', '12', '12', '05', '08', '03', '10', '11', '09', '11', '05', '10', '11', '09', '06', '07', '03', '11', '06', '11', '11', '08', '07', '03', '08', '11', '06', '05', '05', '07', '12', '12', '12', '12', '01', '08', '07', '03', '03', '03', '07', '06', '07', '03', '09', '01', '07', '08', '09', '05', '02', '10', '07', '12', '07', '11', '12', '12', '04', '04', '07', '07', '04', '08', '11', '12', '03', '04', '05', '10', '01', '07', '07', '11', '08', '09', '05', '03', '11', '09', '12', '04', '01', '04', '08', '07', '02', '11', '07', '12', '06', '02', '01', '01', '02', '11', '08', '01', '11', '11', '08', '08', '08', '09', '04', '04', '02', '12', '02', '06', '04', '07', '06', '10', '04', '09', '08', '03', '05', '12', '11', '08', '08', '05', '05', '03', '12', '03', '12', '04', '03', '11', '09', '04', '03', '05', '11', '04', '05', '05', '11', '06', '09', '09', '06', '08', '08', '11', '10', '11', '06', '08', '04', '07', '01', '01', '09', '05', '10', '03', '08', '07', '02', '09', '06', '12', '03', '04', '06', '09', '09', '03', '08', '10', '12', '11', '02', '03', '03', '06', '02', '12', '09', '08', '03', '12', '12', '02', '01', '12', '12', '12', '01', '06', '01', '02', '02', '04', '04', '04', '04', '04', '04', '04', '01', '11', '11', '11', '03', '08', '09', '03', '11', '03', '07', '09', '07', '08', '07', '06', '07', '03', '12', '06', '08', '07', '07', '06', '07', '08', '01', '03', '08', '06', '09', '12', '11', '01', '08', '02', '03', '04', '02', '03', '08', '08', '06', '05', '05', '05', '06', '02', '12', '12', '04', '08', '06', '10', '10', '10', '02', '03', '12', '01', '12', '04', '01', '06', '06', '05', '03', '06', '02', '02', '11', '01', '06', '04', '09', '12', '01', '01', '02', '06', '06', '11', '05', '05', '12', '05', '04', '01', '07', '06', '05', '11', '03', '02', '02', '01', '03', '07', '07', '04', '04', '04', '07', '02', '12', '08', '05', '01', '01', '03', '12', '06', '06', '03', '11', '11', '11', '02', '10', '08', '11', '11', '11', '11', '11', '05', '02', '02', '10', '11', '11', '08', '11', '12', '10', '05', '09', '08', '06', '09', '08', '06', '06', '06', '06', '06', '02', '11', '02', '09', '11', '05', '03', '07', '04', '06', '12', '12', '05', '11', '08', '12', '08', '09', '08', '08', '09', '11', '08', '06', '05', '11', '03', '05', '09', '03', '09', '05', '04', '01', '10', '10', '11', '05', '08', '08', '06', '10', '06', '11', '07', '07', '12', '05', '05', '10', '10', '08', '12', '05', '03', '12', '02', '08', '02', '01', '08', '08', '08', '08', '08', '08', '11', '10', '10', '12', '12', '06', '06', '06', '05', '05', '12', '02', '06', '06', '01', '08', '01', '11', '08', '03', '05', '08', '12', '05', '08', '08', '05', '09', '11', '12', '11', '06', '10', '09', '02', '02', '11', '07', '07', '06', '06', '08', '01', '03', '03', '01', '03', '11', '05', '04', '04', '06', '06', '05', '08', '10', '06', '04', '06', '12', '06', '01', '11', '03', '06', '02', '03', '09', '12', '10', '01', '12', '09', '08', '11', '09', '06', '01', '02', '07', '08', '02', '10', '02', '12', '11', '01', '05', '08', '09', '12', '06', '05', '06', '10', '03', '04', '10', '04', '07', '11', '10', '01', '07', '08', '09', '10', '08', '07', '09', '11', '11', '07', '10', '09', '01', '03', '01', '02', '08', '12', '07', '05', '05', '01', '08', '02', '04', '05', '09', '05', '01', '02', '06', '07', '07', '02', '12', '09', '06', '06', '06', '11', '12', '09', '11', '06', '04', '02', '05', '07', '11', '06', '08', '05', '08', '07', '08', '12', '09', '09', '02', '06', '01', '09', '01', '06', '06', '05', '04', '04', '04', '08', '03', '07', '01', '02', '02', '01', '09', '06', '05', '07', '06', '01', '04', '11', '04', '10', '07', '02', '04', '07', '09', '12', '08', '06', '05', '09', '06', '02', '04', '03', '03', '08', '04', '11', '06', '02', '10', '08', '10', '05', '02', '05', '05', '03', '11', '12', '09', '01', '05', '10', '05', '01', '01', '08', '06', '04', '03', '01', '03', '09', '09', '06', '09', '05', '09', '12', '03', '05', '03', '09', '08', '11', '07', '09', '08', '08', '04', '07', '10', '01', '10', '08', '01', '07', '02', '10', '05', '11', '05', '05', '02', '10', '10', '09', '10', '06', '02', '11', '02', '05', '01', '01', '06', '06', '03', '06', '08', '10', '08', '06', '02', '07', '09', '07', '09', '03', '12', '09', '07', '04', '12', '03', '10', '11', '02', '12', '08', '10', '04', '04', '08', '05', '12', '08', '01', '06', '12', '09', '08', '06', '11', '08', '05', '04', '07', '03', '03', '05', '08', '06', '10', '02', '07', '11', '12', '03', '09', '01', '06', '10', '08', '09', '04', '08', '08', '12', '06', '07', '07', '09', '06', '05', '07', '10', '02', '04', '01', '02', '01', '06', '06', '06', '12', '03', '08', '08', '05', '10', '12', '01', '03', '03', '08', '04', '07', '07', '07', '03', '11', '05', '11', '10', '01', '04', '12', '03', '11', '01', '12', '01', '10', '09', '02', '07', '04', '03', '11', '04', '12', '11', '08', '09', '02', '08', '09', '07', '03', '07', '06', '03', '06', '10', '10', '07', '01', '11', '09', '03', '08', '03', '09', '09', '03', '03', '06', '06', '12', '01', '04', '08', '08', '07', '10', '08', '08', '04', '10', '07', '12', '03', '10', '05', '02', '01', '03', '03', '06', '09', '03', '10', '08', '06', '08', '09', '04', '09', '06', '09', '10', '01', '04', '05', '01', '07', '12', '06', '03', '09', '10', '09', '01', '05', '11', '03', '09', '02', '06', '09', '07', '09', '08', '01', '04', '08', '01', '02', '06', '03', '06', '02', '06', '12', '09', '03', '06', '04', '12', '09', '03', '10', '11', '01', '09', '12', '01', '01', '09', '02', '08', '03', '07', '02', '04', '01', '02', '01', '10', '04', '10', '04', '12', '06', '06', '08', '01', '12', '06', '05', '11', '08', '09', '02', '10', '03', '07', '03', '07', '09', '10', '05', '01', '09', '09', '09', '04', '08', '09', '10', '08', '12', '07', '06', '01', '10', '05', '10', '12', '06', '02', '06', '04', '07', '05', '04', '06', '12', '09', '10', '07', '08', '01', '03', '04', '09', '03', '03', '12', '08', '04', '11', '12', '07', '04', '12', '10', '10', '03', '11', '08', '08', '03', '01', '03', '12', '07', '07', '08', '09', '01', '05', '07', '05', '08', '07', '06', '01', '10', '10', '04', '05', '02', '08', '04', '10', '06', '08', '07', '11', '06', '08', '04', '05', '07', '12', '10', '09', '03', '01', '03', '03', '08', '06', '12', '01', '11', '11', '08', '09', '02', '06', '11', '10', '02', '10', '12', '05', '12', '07', '02', '03', '01', '08', '10', '09', '12', '08', '11', '10', '12', '09', '11', '10', '07', '01', '01', '04', '04', '10', '07', '10', '07', '09', '05', '08', '08', '07', '02', '06', '09', '07', '10', '08', '12', '05', '08', '10', '03', '12', '09', '09', '02', '11', '08', '01', '03', '02', '03', '01', '09', '12', '04', '10', '01', '07', '01', '08', '05', '04', '08', '06', '11', '02', '09', '03', '05', '02', '03', '02', '06', '03', '04', '04', '10', '06', '12', '06', '09', '12', '11', '08', '05', '06', '12', '08', '07', '01', '07', '10', '12', '08', '05', '05', '12', '05', '11', '07', '10', '07', '12', '04', '05', '02', '12', '08', '01', '08', '04', '11', '12', '10', '08', '02', '05', '11', '10', '09', '09', '06', '11', '05', '04', '05', '03', '02', '02', '04', '07', '07', '06', '04', '07', '05', '06', '06', '10', '10', '12', '11', '03', '02', '01', '06', '09', '08', '06', '08', '08', '12', '05', '12', '03', '08', '10', '05', '05', '12', '11', '05', '05', '11', '03', '05', '01', '07', '02', '02', '08', '01', '06', '01', '05', '08', '05', '02', '12', '06', '02', '06', '09', '12', '08', '09', '04', '06', '11', '09', '12', '01', '03', '02', '11', '09', '10', '12', '11', '06', '10', '03', '07', '08', '04', '07', '06', '12', '12', '01', '01', '07', '12', '05', '08', '10', '03', '09', '12', '02', '08', '03', '09', '05', '08', '05', '02', '08', '12', '07', '09', '11', '05', '06', '07', '06', '06', '03', '04', '09', '07', '12', '03', '10', '12', '07', '03', '11', '08', '01', '05', '07', '10', '10', '01', '07', '09', '12', '06', '01', '11', '08', '11', '12', '09', '11', '04', '09', '02', '06', '06', '11', '11', '08', '02', '10', '11', '12', '06', '10', '01', '11', '07', '05', '10', '06', '03', '08', '05', '04', '01', '10', '05', '08', '04', '10', '04', '06', '06', '08', '01', '06', '06', '09', '01', '11', '01', '05', '09', '12', '05', '05', '04', '02', '08', '04', '03', '01', '09', '02', '08', '03', '12', '02', '12', '07', '07', '08', '02', '01', '05', '01', '11', '07', '06', '07', '08', '12', '04', '11', '11', '11', '12', '11', '07', '11', '01', '09', '10', '08', '06', '08', '06', '03', '07', '08', '05', '06', '10', '10', '02', '07', '07', '04', '01', '02', '08', '02', '03', '09', '03', '08', '01', '06', '06', '02', '11', '08', '08', '05', '06', '03', '03', '08', '05', '08', '12', '06', '01', '07', '12', '02', '11', '01', '01', '08', '06', '03', '02', '06', '09', '07', '06', '01', '04', '11', '05', '10', '12', '05', '03', '11', '05', '09', '03', '08', '05', '01', '10', '08', '07', '06', '09', '09', '02', '10', '02', '08', '05', '02', '08', '10', '05', '04', '09', '12', '07', '05', '08', '06', '11', '04', '08', '08', '04', '12', '03', '08', '08', '06', '04', '03', '07', '08', '04', '07', '07', '12', '04', '08', '07', '01', '09', '04', '10', '04', '06', '11', '02', '03', '10', '05', '06', '07', '03', '02', '08', '11', '06', '01', '10', '10', '07', '11', '07', '08', '03', '11', '02', '07', '07', '07', '03', '06', '10', '09', '07', '07', '11', '11', '12', '04', '10', '08', '05', '01', '08', '09', '09', '05', '11', '03', '10', '10', '10', '02', '07', '07', '03', '09', '02', '01', '04', '09', '06', '06', '08', '07', '08', '07', '02', '04', '04', '03', '08', '04', '02', '04', '07', '11', '02', '08', '08', '07', '07', '06', '08', '04', '06', '01', '07', '09', '07', '07', '10', '06', '10', '06', '08', '07', '03', '10', '07', '08', '08', '08', '02', '07', '08', '08', '01', '06', '01', '05', '03', '11', '06', '08', '06', '10', '08']

# What is the average number of words for a yelp review?
Do this with a single line of code!

In [29]:
# Your code here
df.text.map(lambda x: len(x.split())).mean()
#sum( list(df.text.map(lambda x: len(x.split()))) )

77.06551724137931

# Create a new column for the number of words in the review.

In [31]:
#Your code here
df['number_of_words'] = df.text.map(lambda x: len(x.split()))
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,number_of_words
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32

## Rewrite the following as a lamda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [41]:
#Your code here
df['Review_Length']= df.number_of_words.map(lambda x: 'Short' if x < 50  else ('Medium' if x < 80 else 'Long'))
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,number_of_words,Review_Length
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58,Medium
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30,Short
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30,Short
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82,Long
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32,Short

# Level Up: Dates Adavanced!
<img src="date_format_map.png" width=500>  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [51]:
#Your code here
#df.date.map(lambda x: '{}-{}-{}'.format(x[-2:], x[5:7], x[:4]))
from datetime import datetime
df.date.map(lambda x: datetime.strptime(x, '%Y-%m-%d').strftime("%d/%m/%Y"))

0       13/11/2012
1       23/10/2014
2       05/09/2014
3       25/02/2011
4       15/06/2016
5       23/09/2016
6       23/08/2014
7       16/08/2017
8       18/11/2017
9       18/11/2017
10      10/12/2015
11      12/02/2012
12      12/02/2012
13      12/02/2012
14      12/02/2012
15      03/06/2014
16      18/11/2016
17      05/11/2015
18      05/11/2015
19      21/01/2017
20      06/11/2016
21      28/05/2016
22      08/05/2016
23      11/10/2012
24      08/04/2017
25      09/04/2017
26      17/11/2010
27      10/04/2016
28      10/03/2016
29      24/02/2016
           ...
2580    08/09/2015
2581    12/07/2013
2582    27/07/2016
2583    12/10/2015
2584    20/06/2017
2585    17/10/2015
2586    25/06/2015
2587    14/08/2012
2588    02/07/2015
2589    22/03/2015
2590    02/10/2007
2591    17/07/2016
2592    03/08/2015
2593    28/08/2013
2594    25/08/2011
2595    27/02/2014
2596    01/07/2014
2597    20/08/2016
2598    01/08/2011
2599    27/01/2014
2600    14/06/2012
2601    14/01/2014
2602    19/05/2012
2603    01/03/2013
2604    03/11/2013
2605    02/06/2013
2606    14/08/2016
2607    14/06/2016
2608    02/10/2013
2609    15/08/2016
Name: date, Length: 2610, dtype: object

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone elses code that happens to use lambdas.